%% == Erlang Compiler ==
{erl_opts, []}.
%% == Dependencies ==
{deps, [
        {epgsql, {git, "https://github.com/epgsql/epgsql.git", {tag, "4.1.0"}}},
        {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}}
       ]}.
{plugins, [rebar3_auto]}.
%% == Release ==
{relx, [
        {release, { postgres_writer, "0.0.1" },
         [
          kernel,
          stdlib,
          sasl,
          %% --------------
          epgsql,
          %% --------------
          contacts_crud
         ]},
        {sys_config, "./config/prod/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, false},
        {include_erts, false},
        {extended_start_script, true},
        {overlay, [
                   {mkdir, "data"},
                   {mkdir, "logs"},
                   {mkdir, "etc"}
                  ]}
       ]}.
%% == Profiles ==
{profiles, [
            {prd, [
                   {relx, [
                           {dev_mode, false},
                           {include_src, false},
                           {include_erts, true},
                           {sys_config, "./config/prd/sys.config"}
                          ]}
                  ]},
            {lint,  [
                     {plugins, [
                                {rebar3_lint,
                                 {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.2"}}}
                               ]}
                    ]},
            {docs, [
                    {deps, [
                            {edown,
                             ".*", {git, "https://github.com/uwiger/edown.git", {branch, "master"}}}
                           ]}
                   ]},
            {test, [
                    {deps, [
                            meck,
                            {mixer, "0.1.5", {pkg, inaka_mixer}}
                           ]},
                    {erl_opts, [debug_info, export_all]}
                   ]}
           ]}.
{ct_opts, [
           {sys_config, "config/test/sys.config"}
          ]}.
%% == Cover ==
{cover_enabled, true}.
{cover_opts, [verbose]}.
%% == EDoc ==
{edoc_opts, [
             {report_missing_types, true},
             {source_path, ["src"]},
             {report_missing_types, true},
             {todo, true},
             {packages, false},
             {subpackages, false}
            ]}.
%% == Shell ==
{shell, [{config, "config/test/sys.config"}, {apps, [epgsql, contacts_crud]}]}.